.jobs {
    width: 100vw;
    /*  height: 130vh; */
    background-color: #e0d4d4;

    h1 {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 1em;
    }


    .container {
        width: 800px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin: 0 auto;
        padding-bottom: 30px;


        .box {
            background-color: #fff;
            box-shadow: 3px 3px 12px grey;
            border-radius: 15px;
            margin-top: 20px;

            .container2 {
                width: 250px;
                height: 50%;
                margin: 0 auto;

                .iconsJobs {
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 10px;
                    margin-top: 10px;

                }

                h1 {
                    text-align: center;

                }

                p {
                    text-align: center;
                    margin-bottom: 1px;

                }

                a {
                    width: 70%;
                    text-decoration: none;
                    color: #000;
                    border: 1px solid #000;
                    background-color: lightblue;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
            }
        }
    }

    div[class^="image1"] {
        background-image: url("../Images/opition-page1.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    div[class^="image2"] {
        background-image: url("../Images/opition-page2.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    div[class^="image3"] {
        background-image: url("../Images/opition-page3.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    div[class^="image4"] {
        background-image: url("../Images/opition-page4.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    div[class^="image5"] {
        background-image: url("../Images/opition-page5.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    div[class^="image6"] {
        background-image: url("../Images/opition-page6.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    div[class^="image7"] {
        background-image: url("../Images/opition-page7.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        width: 250px;
        height: 130px;
        border-radius: 15px 15px 0px 0px;
    }

    .box7 {
        grid-column: 2/3;
    }

}